.topbar {
  width: 100%;
  height: 40px;

  background-color: var(--bg-secondary);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  border-bottom: 1px solid var(--border-color);
}
