.btn {
    padding: 8px;

    background-color: var(--btn-primary);
            
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-primary);

    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: all 0.2s ease;
}    

.btn:hover {
    background-color: var(--btn-secondary);
}